
*{
	margin: 0;  /*óáðàëè îòñòóïû, âíåíøíèé*/
	padding: 0;  /*óáðàëè îòñòóïû, âíóòðåííèé*/
	/*box-sizing: border-box;   ïåääèíã íå áóäåò ðàçäâèãàòü ðàìêè è ïåäèíã áóäåò ðàñòè âíóòðü*/
}



body {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;	
}
header{
	margin-bottom: 4px;	
}
#header{
    margin-bottom: 10px;
    background-color: #25B33f;
	background-image: url('../Images/fujiyama.jpg');
	background-position: center center;
	background-size: cover;  
	
	padding: 2px 2px 0 2px;
	clear: both;
}
header h1{
 	font-size: 36px;
 	font-weight: 600;
}

p{
	margin: 0px;
}
	
header a {
	color: #020202;
	text-decoration: none;
}
/*header a:hover {color: #020102; text-decoration: none;}
a:visited {color:#666666; text-decoration: underline;}*/


header nav ul{
     margin: 8px auto;
	list-style-type:none;
}
header nav ul li {
	display: inline-block; 
	margin-bottom: 4px;
	margin-right: 8px;
}
#movy ul li a {
		background: #a0f990;
		width: 46px; 
		height: 28px; 
		border-radius: 4px; 
		box-shadow: 0px 1px 5px; 
		font-size: 12px;
}
#movy{
	float: left;
	position: relative;
	top: 12px;
}
#taby{
	float: left;
}



#main{
	border: 3px solid  #00ff00;
	padding: 15px 25px ;  /*â ïåääèíãå íå ðàáîòàåò àâòî*/
	margin: 20px auto;
	width: 75%;
	min-height: 460px;
}

#main p{
	font-size: 1.1em;
	text-indent: 55px;
}
#main h3{
	font-weight: 560;
}
.margin10{
	margin-right: 28px;
}
	
footer{
border: 3px  solid   #CFE0FB;
}

footer h1 {
text-align: center;
border: 44px solid #CFE0FB;
margin: 1px;
padding: 15px;
}











