
*{
	margin: 0;  /*óáðàëè îòñòóïû, âíåíøíèé*/
	padding: 0;  /*óáðàëè îòñòóïû, âíóòðåííèé*/
	/*box-sizing: border-box;   ïåääèíã íå áóäåò ðàçäâèãàòü ðàìêè è ïåäèíã áóäåò ðàñòè âíóòðü*/
}



body {
font-size: 16px;
font-family: Tahoma, Geneva, sans-serif;	
}
header{
margin-bottom: 4px;	
}
#header{
    /*height: 212px;*/
    margin-bottom: 10px;
	background-image: url('images/fujiyama.jpg');
	background-size: cover;  
	background-repeat: repeat-x;
	background-color: #25B33f;
	padding: 4px;
	clear: both;
}
	
header a { /*äëÿ âñåõ ññûëîê õåäåðà*/

color: #020202;
text-decoration: none;
}
/*a:hover {color:#020202; text-decoration: none;}
a:visited {color:#666666; text-decoration: underline;}*/


header nav ul{
     margin: 8px auto;
	list-style-type:none;/*îòìåíèëè ñòèëè äëÿ ññûëîê*/
}
header nav ul li {
	display: inline-block; /*âûñòðîèëè â ðÿä 3 íàøèõ ýëåìåíòà*/
	margin-bottom: 4px;
	margin-right: 8px;
	  /*íåáîëüøîé îòñòóï ñïðàâà  10 ïèêñåë*/
	/*border: 1px solid #cccccc;   çàäàåì ðàìêó*/
}
header nav ul li button {
	    margin-bottom: 4px;
		background: #cccccc; 
		width: 76px; 
		height: 40px; 
		border-radius: 8px; 
		box-shadow: 0px 1px 5px; 
		font-size: 20px;
}
header nav ul li a {/*äëÿ ññûëîê*/
background-color:#D4FBF6;
display: block;   /*çàäàåì ðàçìåð ññûëêàì*/
width: 8em;  /*em - ðàçìåð îäíîé áóêâû*/
text-align: center;/*âûðàâíèâàíèå òåêñòà ïî öåíòðó*/
line-height:   1.75em; /*âûñîòà ñòðîêè*/
solid;
}

#main{
	border: 3px solid  #00ff00;
	padding: 25px;  /*â ïåääèíãå íå ðàáîòàåò àâòî*/
	margin: 20px auto;
	width: 1023px;
	min-height: 500px;
}

#main p{
	text-indent: 55px;
}
	
footer{
border: 3px  solid   #CFE0FB;
}

footer h1 {
text-align: center;
border: 44px solid #CFE0FB;   /*çàäàåì ðàìêó*/
margin: 1px; /*îòñòóï ñ 4-õ ñòîðîí ïî 50- ïèêñ âíåøíèé*/
padding: 15px;/*îòñòóï ñ 4-õ ñòîðîí ïî 50- ïèêñ âíóòðåííèé*/
}











